h1 {
  color: $mainColor;
}

.modal {
  background: rgba(0, 0, 0, 0.5);
  .actions {
    display: flex;
    justify-content: start;
    .action {
      padding: 5px 20px;
      border-radius: 10px;
      border: 1px solid #ccc;
      text-align: center;
      color: #fff;
      background-color: $secondColor;
      margin-right: 20px;
    }
    .save{
      background-color: $mainColor;
    }
    .cancel{
      background-color: #ccc;
      color: $textColor1;
    }
  }  
}
.modal-backdrop {
  display: none;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
  font-size: 17px;
  color: #444;
  display: flex;
  align-items: center;

  input {
    width: 18px;
    height: 18px;
    margin: 2px;
  }
}

#checkboxes label:hover {
  background-color: #1e90ff;
}
