$mainColor:#007fa4;
$body-bg: #f6f8fc;
$body-bgS: #edf2f6;
$secondColor: #29a161;
$thiredColor: orangered;
$blue: #2e6cff;
$yellow: #fea500;
$red: #e14342;
$textColor2: #4a4a4a;
$textColor1: #232327;
